body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.menu {
    background-color: #ef5350;
    color:white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.capa {
    background-color: #333;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-pokemon {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.cartao {
    background-color: white;
    border-radius: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 8px 12px rgba(10, 10, 10, 1);
    position: relative;
    z-index: 2;
    overflow: hidden

}

.cartao img{
    position: relative;
    z-index: 2;
}

.btn-treinar {
    background-color: #6dd7f7;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px;
    transition: transform 0.3s ease;

}

.cartao img{
    transition: all 0.3s ease-out;      
}

.cartao:hover > img{
    transform: translateY(-20px) scale(1.3);   
}

.btn-treinar:hover{
    background-color: red;
    color: black;
    transform: scale(1.2);
}

.tipos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.badge {
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.planta {
    background-color: #134d15;
}

.veneno {
    background-color: #9C27B0;
}

.fogo {
    background-color: #ff6106;
}

.voador{
    background: linear-gradient(150deg, #21c5f7 50%, #898a8a 50%)
}   

.agua{
    background-color: #21c5f7;
}

.inseto{
    background-color: #4CAF50;
}

.eletrico{
    background-color: #eef11b;
}


@keyframes pular{
    0%{ transform: translateY(0px);}

    25%{ transform: translateY(15px); }

    50%{ transform: translateY(20px); }

    75%{ transform: translateY(15px); }

    100%{ transform: translateY(0px); }
}

.cartao img {
    animation: pular 3s linear infinite;
}

@keyframes voo{
    0%{ transform: translate(0px,0px); }
    25%{ transform: translate(30px, 0px);}
    50%{ transform: translate(0px, -30px);}
    75%{ transform: translate(-30px, 0px); }
    100%{ transform: translate(0px, 0px); }
}

.voar:hover img {
    animation: voo 3s linear infinite;
}

@keyframes abanar {
    0% { transform: translateX(0px); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0px); }
}

.tremor:hover img {
    animation: abanar 0.3s ease infinite;
}

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.procura{
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: space-around;
}

.novos{
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}

.procura:hover{
    background-color: rgb(81, 81, 81);

}
.procura:hover .spinner{
    border: 5px solid white;
    border-top: 5px solid #e20fb4;
    
}

.cartao:hover{
    background: linear-gradient(to bottom, #ff0000 49%, #000000 49%, #000000 51%, #ffffff 51%);
    border: black solid 5px;
    border-collapse: 5px solid rgb(79, 19, 243);
    
}

.esfera {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
    border: 4px solid #000000;  
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cartao:hover .esfera{
    opacity: 1;
    max-height: 50px;    
}

.centro-esfera{
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 30px;
    height: 30px;
    background-color: #fcfbfb;
    border-radius: 50%;
    border: 2px solid #000000;  
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cartao:hover .centro-esfera{
    opacity: 1;
    max-height: 30px;

}